# =========================
# Reserved files
# =========================

# Eclipse
.settings
.buildpath
.project

# Joomla
files/
images/

# J2XML Pro
administrator/manifests/libraries/j2xmlpro.xml
language/en-GB/en-GB.lib_j2xmlpro.ini
language/en-GB/en-GB.lib_j2xmlpro.sys.ini
language/it-IT/it-IT.lib_j2xmlpro.ini
language/it-IT/it-IT.lib_j2xmlpro.sys.ini
libraries/eshiol/j2xmlpro

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.url

# Joomla
CHANGELOG
LICENSE

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
